.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/data/
/dependency/
/build/
/dependency/
/docs/_build/
/src/*.egg-info/
__pycache__/

# editor
profile/
.idea/
.run/

#cmake
/cmake-build*/
# jupyter notebook
*.ipynb
# bam
*.sam
# debug reprot
/debuglog/
.DS*

# profile file
*.pstat


# c++
*.o
*.so
main.cpp
neovide*
compile_commands.json
.cache
