.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/data/
/docs/_build/
/src/*.egg-info/
__pycache__/

# editor
profile/
.idea/
.run/
#profile
profile/

#cmake
/cmake-build*/
# jupyter notebook
*.ipynb
# bam
*.sam
# debug reprot
/debuglog/
.DS*

# profile file
*.pstat
